.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container h1 {
  font-size: 64px;
  color: white;
}
.image {
  border-radius: 10px;
}
